<!DOCTYPE html>
<html>
    <head lang="fr">
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="../static/main.css" />
        <title>Gestion des Stages</title>
    </head>

    <header>
        <img class="logo" src="../static/logos/logoFilDeSoie.png" alt="Logo Compagnie Fil de Soie" title="Compagnie le Fil de Soie" width="130" height="130">
        <section>
            <h1>
                <a href="http://www.cielefildesoie.com/">Compagnie le Fil de Soie</a>
            </h1>

            <p>Gestionnaire de données pour les stages pédagogiques.</p>
        </section>
    </header>

    <body>
        {% block content %}
        {% endblock %}
    </body>

    <footer>
        <section class="contact">
            <img class="logo" src="../static/logos/logoJuanBlack.png" alt="Logo Juan Restrepo" title="Juan Restrepo" width="30" height="30">
            <div class="contactLinks">
                by Juan Restrepo: <a href="https://github.com/juan-restrepop/">GitHub</a> |
                <a href="https://www.linkedin.com/in/juan-sebastian-restrepo-a3320a86/en">LinkedIn</a>
            </div>
        </section>
        <section class="contact">
            <img class="logo" src="../static/logos/logoFilDeSoie.png" alt="Logo Compagnie le Fil de Soie" title="Le Fil de Soie" width="30" height="30">
            <div class="contactLinks">
                &copy content Le Fil de Soie: <a href="http://www.cielefildesoie.com/">Web</a> | <a href="https://www.facebook.com/cielefildesoie?fref=photo">Facebook</a>
            </div>
        </section>
    </footer>

</html>