<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="/static/main.css" />
        <title>Gestion des Stages</title>
    </head>

    <header>
        <img class="logo" src="../static/logos/logoFilDeSoie.png" alt="Logo Compagnie Fil de Soie" title="Compagnie le Fil de Soie" width="120" height="120">
        <div class="Name">
            <a href="http://www.cielefildesoie.com/">Compagnie le Fil de Soie</a>
        </div>
    </header>

    <body>

    </body>

    <footer>
      <img class="logo" src="../static/logos/logoJuanBlack.png" alt="Logo Juan Restrepo" title="Juan Restrepo" width="70" height="70">
        <div class="contact">
            <a href="https://github.com/juan-restrepop/">Juan Restrepo</a>
        </div>
    </footer>

</html>